url: https://health-products.canada.ca/api/natural-licences/productlicence/?lang=%(language)s&type=json

mysql:
    host: host_name
    user: user
    password: password
    db: db_name

files:
    output_directory : files
    json_file : npn_%(language)s_%(timestamp)s.json
    csv_file : npn_%(language)s_%(timestamp)s.csv